{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Iniciar Sesión</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_username">Nombre:</label>
              <input
                type="text"
                name="username"
                maxlength="100"
                required
                id="id_username"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="id_password">Contraseña:</label>
              <input
                type="password"
                name="password"
                required
                id="id_password"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}