{% extends "base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Editar Perfil</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
         
            <div class="form-group">
              <label for="id_address">Dirección:</label>
              <input
                type="text"
                name="address"
                maxlength="50"
                required
                id="id_address"
                class="form-control"
                value="{{ form.address.value|default:'' }}"
              />
              {{ form.address.errors }}
            </div>
            <div class="form-group">
              <label for="id_phone">Teléfono:</label>
              <input
                type="text"
                name="phone"
                maxlength="50"
                required
                id="id_phone"
                class="form-control"
                value="{{ form.phone.value|default:'' }}"
              />
              {{ form.phone.errors }}
            </div>
            <div class="form-group">
              <label for="id_user_type">Tipo de Usuario:</label>
              <select
                name="user_type"
                id="id_user_type"
                class="form-control"
              >
                {% for choice in form.user_type.field.choices %}
                  <option value="{{ choice.0 }}" {% if choice.0 == form.user_type.value %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
              </select>
              {{ form.user_type.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}