{% extends 'base.html' %}

{% block title %}Properties{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Propiedades</h2>
   <!-- Include the search form -->
   <div class="card mb-4">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="id_region" class="form-label">Región</label>
                    {{ form.region }}
                </div>
                <div class="col-md-6 mb-3">
                    <label for="id_commune" class="form-label">Comuna</label>
                    {{ form.commune }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-available-tab" data-toggle="tab" data-target="#nav-available" type="button" role="tab" aria-controls="nav-available" aria-selected="true">Disponibles</button>
      <button class="nav-link" id="nav-rented-tab" data-toggle="tab" data-target="#nav-rented" type="button" role="tab" aria-controls="nav-rented" aria-selected="false">Arrendadas</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-available" role="tabpanel" aria-labelledby="nav-available-tab">
        <div class="row mt-4">
            {% for property in available_properties %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.name }}</h5>
                        <p class="card-text">{{ property.description }}</p>
                        <p class="card-text"><strong>Comuna:</strong> {{ property.commune.name }}</p>
                        <p class="card-text"><strong>Tipo:</strong> {{ property.property_type.name }}</p>
                        <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="nav-rented" role="tabpanel" aria-labelledby="nav-rented-tab">
        <div class="row mt-4">
            {% for property in rented_properties %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.name }}</h5>
                        <p class="card-text">{{ property.description }}</p>
                        <p class="card-text"><strong>Comuna:</strong> {{ property.commune.name }}</p>
                        <p class="card-text"><strong>Tipo:</strong> {{ property.property_type.name }}</p>
                        <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
